.card {
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 1px 3px 0 rgba(156, 39, 176, 0.1), 0 1px 2px 0 rgba(156, 39, 176, 0.06);
  padding: 20px;
}

.alert {
  max-width: 400px;
  margin: 20px auto;
  transition: 0.3s;
}
